.icon{
  width: 25px;
  height: 25px;
}
.btnNoStyle{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.btnNoStyle:hover .redIcon{
  filter: invert(12%) sepia(88%) saturate(6402%) hue-rotate(11deg) brightness(101%) contrast(124%);
}

.btnNoStyle:hover .blueIcon:hover{
  filter: invert(10%) sepia(93%) saturate(6087%) hue-rotate(246deg) brightness(96%) contrast(149%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.addbtn {
  color: white;
  font-weight: bold;
  background-color: #009879;
  border-radius: 5px;
  padding: 11px 25px;
  border: none;
}
